.head-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}
.input-box input{
    width: 16rem;
    height: 25px;   
}
.deleteSelected-box button{
    height: 30px;
    background: #ff0000;
    border: none;
    width: 100%;
}

.end-section{
    display: flex;
    justify-content: space-around;
}


.selectAll-box button{
    height: 30px;
    background: #00ddff;
    border: none;
    width: 100%;
}